.a {
  background-color: red;
}

.b {
  background-color: orangered;
}

.c {
  background-color: yellow;
}

.d {
  background-color: blue
}

.e {
  background-color: blue;
}

.f {
  background-color: purple;
}

.g {
  background-color: indianred;
}

.h {
  background-color: indigo;
}

.i {
  background-color: violet;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .a {
    background-color: blue;
  }
  .b {
    background-color: rgb(17, 17, 235);
  }
  .c {
    background-color: rgb(36, 36, 187);
  }
  .d {
    background-color: rgb(43, 43, 164);
  }
  .e {
    background-color: rgb(49, 49, 147);
  }
  .f {
    background-color: rgb(94, 17, 218);
  }
  .g {
    background-color: rgb(81, 14, 187);
  }
  .h {
    background-color: rgb(49, 9, 142);
  }
  .i {
    background-color: rgb(47, 7, 92);
  }
}

@media (min-width: 1024px) {
  .a {
    background-color: red;
  }
  .b {
    background-color: rgb(232, 22, 22);
  }
  .c {
    background-color: rgb(191, 34, 34);
  }
  .d {
    background-color: rgb(133, 11, 11);
  }
  .e {
    background-color: rgb(131, 15, 15);
  }
  .f {
    background-color: rgb(242, 148, 7);
  }
  .g {
    background-color: rgb(206, 121, 18);
  }
  .h {
    background-color: rgb(255, 225, 0);
  }
  .i {
    background-color: rgb(238, 231, 22);
  }
}